/* header */
header {
    position: absolute;
    top: 5%;
    left: 5%;
  }
  
  .navbar-holder {
    margin-top: 4%;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .navbar img {
    height: 50px;
  }
  
  .navbar .menu-bars {
    margin-left: 6%;
  }
  
  .navbar .menu-bars {
    font-size: 40px;
    color: var(--dark-blue);
  }
  
  .nav-menu .close-nav {
    color: var(--white);
    font-size: 36px;
    display: flex;
    justify-content: end;
  }
  
  .nav-menu .top-logo-holder {
    margin: 0 20px 50px;
    text-align: center;
    border-bottom: 1px solid var(--yellow);
    padding-bottom: 10px;
  }
  
  .nav-menu .top-logo-holder img {
    max-height: 65px;
  }
  
  .nav-menu {
    background-color: var(--dark-blue);
    width: 28%;
    min-width: 270px;
    min-height: 100vh;
    transition: 850ms;
    padding: 2%;
    position: fixed;
    top: 0;
    z-index: 10;
    left: -100%;
    box-shadow: 3px 0px 9px #292d3957;
  }
  
  .nav-menu .nav-menu-items {
    width: 100%;
    padding-left: 15%;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }

  .nav-menu .nav-menu-items li {
    margin-bottom: 20px;
  }
  
  .nav-menu .nav-menu-items .nav-text {
    color: var(--white);
    font-size: 18px;
    padding: 15px 0;
  }
  
  .nav-menu .nav-menu-items .nav-text:hover {
    color: var(--yellow);
  }
  
  @media (max-width: 992px) {
  
    .nav-menu .nav-menu-items .nav-text {
      font-size: 16px;
    }
  
    .navbar img {
      height: 40px;
    }
  
    .navbar .menu-bars {
      font-size: 36px;
    }
  
    .nav-menu .top-logo-holder img {
      max-height: 55px;
    }
  
    .nav-menu .top-logo-holder {
      margin: 0 20px 37px;
    }
  }
  
  @media (max-width: 768px) {
    header {
      top: 3%;
    }
  }
  
  /* end-header */